.k-tabs {
  &__tabs {
    padding: 0;
  }
  &__item {
    display: inline-block;
    padding: 5px 1em;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    &:hover {
      border-bottom-color: #999;
    }
    &_active {
      font-weight: bold;
      border-bottom-color: #333;
    }
  }
}
